<header>
<h1>Teletracker</h1>
<nav>
  {{#linkTo index}}Home{{/linkTo}}
  {{#linkTo programs}}Programs{{/linkTo}}
  {{#linkTo queue}}Queue{{/linkTo}}
</nav>
</header>

{{outlet}}

<footer>
A fun little side project of <a href="http://www.joshuagorner.com/" target="_blank">Joshua Gorner</a>
</footer>